  
/* Font Styles */
@import url("https://use.typekit.net/pbe7sje.css"); 
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");


  :root{
  --contrast:#1E0917;
  --contrast-50o:rgba(31,9,23,0.5);
  --contrast:#1E0917;
  --contrast-50o:rgba(31,9,23,0.5);
  --contrast-2:#40343C;
  --contrast-2-50o:rgba(64,52,60,0.5);
  --contrast-3:#6D656A;
  --contrast-4:#888085;
  --base-5:#B3ACB0;
  --base:#DDD9DB;
  --base-2:#F3F1F3;
  --base-3:#ffffff;
  --accent:#541A4A;
  --accent-3-50o:rgba(112,53,100,0.5);
  --accent-2:#350F27;
  --accent-3:#703564;
  --accent-14:#986783;
  --accent-4:#b38fa4;
  --accent-5:#70351F;
  --accent-6:#CC8B36;
  --accent-6-50o:rgba(204,139,53,0.5);
  --accent-7:#D9AB5D;
  --accent-8:#9E1852;
  --accent-8-50o:rgba(158,24,82,0.5);
  --accent-9:#423471;
  --accent-10:#5E5188;
  --accent-11:#556d07;
  --accent-11-50o:rgba(86,110,7,0.5);
  --accent-12:#81bd50;
  --accent-13:#bbe698;
  }
  
  body {
    margin: 0;
    padding: 0;
}

 body, button, input, select, textarea {
  font-family:"Manrope";
  font-weight:500;
  font-size:18px;
  letter-spacing:0.07px;
  line-height:1.6;
  color:var(--contrast-2);
}
 

*:first-child {margin-top:0px;}



  p {margin-bottom:1.2em;}

  
  a {
    color:var(--accent-8);
    text-decoration:underline;
  }
 
  a:hover, a:focus, a:active{color:var(--accent-6);}
  
  button, .button, .button a {
    font-weight:800;
    text-transform:uppercase;
    font-size:14px;
    letter-spacing:0.8px; 
    border:0px;
    padding:8px 14px;
    border-radius:30px;
  }
  
  
  button:hover,  a.button:hover,  button:focus,  a.button:focus  {
    color:#ffffff;
    background-color:var(--accent-3);
    cursor:pointer;
    border:0px;
  }

  
  textarea, select
  {color:var(--contrast);background-color:var(--base-2);border-color:var(--base);}
  
  textarea:focus, select:focus
  {color:var(--contrast);background-color:var(--base-2);border-color:var(--contrast-3);}
  

  h1, h2, h3, h4, h5, h6{
    font-family:museo-sans-display;
    font-weight:600;
    line-height:1.1;
    margin-bottom:20px;
  }


  h1{font-size:62px;}
  h2{font-size:44px;margin-bottom:10px;}
  h3{font-size:32px;}
  h4{font-size:22px;letter-spacing:0.1px;line-height:1.3em;}
  h5{text-transform:uppercase;font-size:20px;letter-spacing:0.1px;line-height:1.3em;}
  h6{font-family:"Manrope";font-weight:800;text-transform:uppercase;font-size:15px;letter-spacing:0.55px;}
  
  

  
  
  nav.db__results-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 20px;
      padding-bottom:10px;
      border-bottom: 4px solid var(--base);
  }
  
  article.db__grant {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      padding-top: 40px;
    padding-bottom: 50px;
    border-bottom: 2px solid var(--base);
  }
  

.db__results-sort {
  min-width: fit-content;

}

.highlight {color:var(--accent-3)}
.font-large {font-size:40px;}






/* ------------------------ Testing ------------------------ */


/*body {background-color:green;}
 .db__results_summary_inner {background-color:yellow;}
.db__results {background-color:blue;}
.db__queries {background-color:red!important;}

*/


/* ------------------------ End Testing ------------------------ */



  .db__results-sort:first-child,
  .db__grant-amount{
      width: 15%;
  }
  
  .db__results-sort:nth-child(2),
  .db__grant-info {
      width: 65%;
  }
  
  .db__results-sort:nth-child(3),
  .db__grant-date {
      width: 20%;
  }


@media (max-width:1199px) {

    .db__results-sort:first-child,
  .db__results-sort:nth-child(2),  
  .db__results-sort:nth-child(3) {
      width: 33%;
      max-width:fit-content;

    }
  }







  


  .db__results_summary_inner {
    max-width:1200px;
    margin:0 auto;
    padding:45px;
    display:flex;
    column-gap: 4%;

> div {width:50%;}
/*  @media(min-width:1200px) {
    >:first-child {width:55%;}
    >:nth-child(2) {width:45%; max-width:450px}
  }*/
  }
  
  .db__summary_output h3 {
        line-height: 1.2;
  }




  
  .db__results_queries_inner{


    display:flex;
      flex-direction: row;
          margin:0 auto;
     margin-left: calc(-100vw / 2 + 100% / 2);
      margin-right: calc(-100vw / 2 + 100% / 2);

  
  }
  
  
  
  
  .db__results {

   padding:45px;
   width: 1200px;
  }
   
    
      

@media (min-width:1370px) {
  .db__results {
    margin-left: calc(50vw - 555px - 90px);


  }
}





  
.db__results-sort {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.db__results-sort h6 {
  margin:0 5px 0 0;
}

 .db__results-sort button {
    width: .8em;
    margin: 0;
    padding: 0;
    background-color:unset;
    border:none;
    
  }




  .db__results-sort {
    button, button::before {
    
    color:var(--contrast);

    :hover, :focus {
      color:var(--accent);
    }


  }
}

  



  .db__queries {
    padding:45px;
    width: 400px;
    background-color: var(--base-2);
  }

  
.db__queries h3 {margin:0;}


.db__grant-info h4 {
  margin:0;
}

.db__grant-info p {
  text-wrap:balance;
  margin:0;
}


.db__grant-info-tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 10px;
    margin-top: 10px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    line-height:1.2;
}

.db__grant-info-tag{
    background-color: var(--base-2);
    color: var(--accent);
    padding: 5px 10px 5px 8px;
    border-radius: 30px;
    display: flex;
    column-gap: 4px;
    align-items: center;
    position: relative;
}



.db__summary_filters {
  position:relative;
}



.db__summary_filters .db__grant-info-tags {
     column-gap: 14px;
     padding:20px;
     border:2px solid var(--base-2);
    max-height: 144px;
    overflow: auto;

}

.db__summary_filters .db__grant-info-tag {
      padding: 5px 18px 5px 8px;

}

.db__clear-filters {
  position:absolute;
  top:0;
  right:0;
  margin-top:0px;
  margin-right:10px;
  display:flex;
  align-items: center;
  column-gap:.4em;
  letter-spacing: 0.07px;
  z-index:9999;
}

.db__clear-filters span {
  font-size:12px;
}



button.db__grant-info-remove {
    font-size: 10px;
    padding: 0px 4px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -5px;
    margin-right: -10px;
    color: var(--accent);
    border:3px solid white;
}


button.db__grant-info-remove:focus,
button.db__grant-info-remove:hover

   {
  color:var(--base-3)!important;
}





.db__results-pagination {
  margin-top:20px;
}


.db__results-pagination button:hover{
  background-color:var(--accent);
  color:var(--base-3);
}



.db__search-field-inner {
  padding:20px 0px 40px 0px;
  border-bottom: 2px solid var(--base);
}

.db__search-field-head {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    column-gap: .5em;
}

.db__search-field-head h6 {
  margin:0;
  margin-top:3px;
}



.db__search-field-head button,
.db__LocationMenu button {
  padding:0px 4px;
  border-radius:0;
  font-size:1.5em;
  font-weight:500;
  line-height:1;

}




.db__search-field-head,.db__LocationMenu {
  button:hover, button:focus {
      background-color:unset;
  color:var(--accent-10);
  }
}





.db__search-field ul {
  margin:0;
}


ul.CheckDrop {
    list-style-type: none;
    padding: 10px;
     overflow: auto;
    max-height: 300px;
/*    background-color: var(--base);*/
}


ul.CheckDrop li {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  line-height:1.3;
  margin-bottom:.5em;
  column-gap:.3em;
  text-wrap: balance;

}

ul.CheckDrop input {
      width: 1.3em;
    height: 1.3em;
    min-width:1.3em;
}


ul.CheckDrop span {
    margin-top:2px;
}





.db__approval-date {
  display:flex;
  flex-direction:column;
  margin-top:10px;
}


.db__approval-date-start,
.db__approval-date-end {

  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap:.5em;
  margin-top:10px;
  padding:20px 20px;
  align-items: center;
  border-radius:12px;

  background-color:var(--base);

  :first-child {width:60px;}

  font-weight:800;
  text-transform:uppercase;
  font-size:15px;
  letter-spacing:0.55px;

}

.db__approval-date-start {
  
}






@media (max-width:1199px) {


.db__results_summary_inner,
.db__results_queries_inner,
.db__grant {
  flex-wrap:wrap;
  > div {width:100%;}
}

.db__results_queries_inner {
  flex-wrap:wrap-reverse;
}


.db__approval-date {
  flex-direction:row;
  column-gap:.5em;
  flex-wrap: wrap;
  > div {width:290px;}
}


.db__grant > div {margin-bottom:10px;}


}